SharpZipAll/bin/
SharpZipAll/src/obj/
mygeneration/.vs/
mygeneration/EngineInterface/bin/
mygeneration/EngineInterface/obj/
mygeneration/MyGenUtility/bin/
mygeneration/MyGenUtility/obj/
mygeneration/MyGeneration.Test/bin/
mygeneration/MyGeneration.Test/obj/
mygeneration/MyGeneration/bin/
mygeneration/MyGeneration/obj/
mygeneration/UnitTests/obj/
mygeneration/Zeus/bin/
mygeneration/Zeus/obj/
mygeneration/ZeusCmd/bin/
mygeneration/ZeusCmd/obj/
mymeta/bin/
mymeta/obj/
plugins/Dnp.Utils/bin/
plugins/Dnp.Utils/obj/
plugins/MyGeneration.UI.Plugins.SqlTool/obj/
plugins/MyMetaEffiProzPlugin/bin/
plugins/MyMetaEffiProzPlugin/obj/
plugins/MyMetaSqlCePlugin/obj/
plugins/MyMetaSybaseASEPlugin/obj/
plugins/MyMetaTextFilePlugin/obj/
plugins/MyMetaXsd3bPlugin/obj/